h1{
    text-align: center;
    color: white;
    background-color: cadetblue;
    font-family: century gothic;
    height: auto;
}

table.one{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: white;
    font-family: century gothic;
    color: white;
    background-color: #6b5b95;
    margin: auto;
    width: 70%;
}
table.one th{
    height: 40px;
    background-color:darkgoldenrod;
}

table.one th, td{
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Registration-form */

.Registration-form{
    background-color: lightgrey;
    width: 350px;
    margin: auto;
    border-radius: 12px;
    font-family: century gothic;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px; 
    
}

h2{
    text-align: center;
    color: pu
}

label{
    margin-bottom: 8px;
    color: black
}

form{
    display: flex;
    flex-direction: column;
}

input, select{
    padding: 10px;
    border-radius: 4px;
}

#submit{
    background-color: green;
    color: white;
    margin-top: 25px;
    height: 55px;
    border-color: green;
    cursor: pointer;
}
#submit:hover{
    background-color: black;
}
